@font-face{
	font-family: 'Lato', sans-serif;
	
}

#ejemplo {
	font-family: 'Lato', sans-serif;

}

h1{
	font-family: "Lato"
}

h2{
	font-family:"Lato"
}

h3{
	font-family: "Lato"
}

h4{
	font-family: "Lato"
}

h5{
	font-family: "Lato"
}